<!DOCTYPE html>
<html>
<head>
    <title>Q and A</title>
    <link href='static/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
        <p>Explanation</p>
        <form action='/update' method='post' type='text' name='form' autocomplete='off'>
            <!--<input type='radio' name='yesno' onclick='document.getElementById("text").disabled = false;'>text-->
            <input type='text' name='text' id='text'><br>
            <input type='radio' name='yesno' value='no'>I don't know<br>
            <input id='submit' type='submit' name='submitbutton' value='Submit'>
        </form>
    </div>
</body>
</html>
